.todo-update-btn {
  margin-left: 20px;
  padding: 0 10px;
  background-color: #529aff;
  border: 1px outset #529aff;
  color: white;
}

.todo-delete-btn {
  margin-left: 5px;
  padding: 0 10px;
  background-color: #ff5752;
  border: 1px outset #ff5752;
  color: white;
}

.todo-item-name {
  cursor: pointer;
  padding-right: 20px;
}
